@page "{id:Guid}"
@model EnterpriseManagementApp.Pages.Magazine.Products.ReleaseProductModel
@{
}

<div class="bg-light bg-opacity-10 py-2 mb-2">
    <div class="container text-center">
        <h1>Relase product</h1>
    </div>
</div>