@page
@model EnterpriseManagementApp.Pages.FuncionalityTestingModel
@{
}
<div class="container">
    <div class="row mb-4 text-center">
        <h1 class="display-4 text">Functionality testing page</h1>
    </div>

    <div class="row">
        <div class="col-lg text-center">
            <h2 class="mb-3">Production</h2>
            <a href="/Production/Products/Add" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Add a new products</a><br />
            <a href="/Production/Products/List" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Show all products</a><br />
            <a href="/Production/Products/Search" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Search by identificator</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
        </div>
        <div class="col-lg text-center">
            <h2 class="mb-3">Test</h2>
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a>
        </div>
        <div class="col-lg text-center">
            <h2 class="mb-3">Test</h2>
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a>
        </div>
    </div>
</div>