@page
@model EnterpriseManagementApp.Pages.FuncionalityTestingModel
@{
}
<div class="">
    <div class="row mb-4 text-center">
        <h1 class="display-4 text">Functionality testing page</h1>
    </div>

    <div class="row">
        <div class="col-lg text-center">
            <h2 class="mb-3">Production</h2>
            <a href="/Production/Products/Add" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Add a new products</a><br />
            <a href="/Production/Products/List" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Show all products</a><br />
            <a href="/Production/Products/Search" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Search by identificator</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
        </div>
        <div class="col-lg text-center">
            <h2 class="mb-3">Auth</h2>
            <a href="/Login" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Login</a><br />
            <a href="/Logout" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Logout</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
        </div>
        <div class="col-lg text-center">
            <h2 class="mb-3">Admin</h2>
            <a href="/Register" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Register</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
        </div>
        <div class="col-lg text-center">
            <h2 class="mb-3">Magazine</h2>
            <a href="/Magazine/Products/ProductionList" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Pickup ready list</a><br />
            <a href="/Magazine/Products/Magazine" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Magazine list</a><br />
            <a href="/Magazine/Products/StockLevel" style="min-width: 200px;" class="btn btn-danger mb-3 p-3">Stock level</a><br />
            <a href="/Magazine/Products/ReleaseList" style="min-width: 200px;" class="btn btn-danger mb-3 p-3">Release list</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
        </div>
        <div class="col-lg text-center">
            <h2 class="mb-3">Finance</h2>
            <a href="/Finance/Invoice/AddInvoice" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Add invoice</a><br />
            <a href="/Finance/Invoices/InvoicesList" style="min-width: 200px;" class="btn btn-success mb-3 p-3">Invoices list</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />x
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
        </div>
        <div class="col-lg text-center">
            <h2 class="mb-3">Board</h2>
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
        </div>
        <div class="col-lg text-center">
            <h2 class="mb-3">User</h2>
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
            <a href="#" style="min-width: 200px;" class="btn btn-primary mb-3 p-3">Empty button</a><br />
        </div>
    </div>
</div>