@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row mb-4 text-center">
        <h1 class="display-4 text">Home page</h1>
    </div>
    <div class="container text-center">
        <p>This is home page of application.</p>
    </div>
</div>
