@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row mb-3 text-center">
        <p class="h3 mt-3">Welcome to Enterprise Management Web Application</p>
    </div>
    <div class="container text-center">
        <img src="~/images/index.jpg" width="850px" height="650px" class="d-inline-block align-top" alt="IndexImageProgress">
    </div>
</div>
