@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Home page</h1>
    <a href="/Production/Products/Add" class="btn btn-primary mb-3 p-3">Add a new products</a><br />
    <a href="/Production/Products/List" class="btn btn-primary mb-3 p-3">Show all products</a>
</div>
