@page
@model EnterpriseManagementApp.Pages.Production.Products.SearchModel
@{
}
<div class="bg-light bg-opacity-10 py-2 mb-2">
    <div class="container text-center">
        <h1>Search product</h1>
    </div>
</div>

<div>
    <div class="container w-50 text-center">

        <form method="post" class="border border-2 border-secondary p-4  bg-secondary bg-opacity-10">
            <div class="mb-3">
                <label for="SearchString" class="form-label">Search by identificator</label>
                <input type="text" class="form-control" id="SearchString">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        
        
    </div>
</div>